.reservation{
    background-color: rgb(180, 221, 140);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerContainer{
    background-color: white;
    width:80%;
    height: 80vh;
    border-radius: 5px;
    box-shadow:rgb(63, 85, 41) 1px 1px 1.5px 1.5px ;
    color: rgb(63, 85, 41);
    font-family: monospace;
}
.reservationForm{
    display: flex;
    flex-direction: column;
}

.reFormBox{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    background-color: rgb(191, 221, 162);
    border-radius: 5px;
    text-align: left;
    padding: 10px;
}

.userIdInput{
    width:400px;
    height: 34px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 3px;
    text-align: center;
    margin: 20px 0px;
}

.reform{
    display: flex;
    flex-direction: column;
}
.head{
    text-align: center;
}