.settings{
    background-color: rgb(180, 221, 140);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer{
    background-color: white;
    width:80%;
    height: 80vh;
    border-radius: 5px;
    box-shadow:rgb(63, 85, 41) 1px 1px 1.5px 1.5px ;
    color: rgb(63, 85, 41);
    font-family: monospace;
}

.settingsForm{
    display: flex;
    flex-direction: column;
}

.formBox{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    background-color: rgb(191, 221, 162);
    border-radius: 5px;
    text-align: left;
    padding: 10px;
}

.reservationInput{
    width:40px;
    height: 34px;
    border: none;
    border-radius: 1px;
    text-align: center;
    margin-right: 4px;
}

.setButton{
    width: 100px;
    height: 34px;
    border:none;
    border-radius: 4px;
    background-color: rgb(63, 85, 41);
    color: #f4f4f4;
    font-family: monospace;
    font-size: 12px;
    margin: 10px 0px;
    cursor: pointer;
}

.form{
    max-width: 300px;
    width: 80%;
}